/* global.css (or your main styles file) */
@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus ~ .input-text {
  @apply text-purple-500 bg-transparent  transform -translate-y-5 -translate-x-4 scale-75 left-3
}

.text-entered {
  @apply text-darkPurple bg-transparent  transform -translate-y-5 -translate-x-4 scale-75 left-3
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


